@model IEnumerable<CmsShopingCart.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
}

<h2>Category</h2>
<p>
    <a asp-action="Create">Create Category</a>
</p>
<table class="table sorting" id="categories">
    <thead>
        <tr class="home">
            <th>Category Name</th>
            <th>Category Slug</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr id="id_@item.Id" class="@item.Slug">
                    <td>@item.Name</td>
                    <td>@item.Slug</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">|Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $("table#categories tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#categories tbody").sortable("serialize");
                let url = "/admin/categories/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>
}

