@model CmsShopingCart.Models.Page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Sorting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Sorting)
        </dd>
    </dl>  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>|
    <a asp-action="Index">Back to List</a>
</div>
   
    

