@model IEnumerable<CmsShopingCart.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "_ProductPageLayout ";
}
<!--/banner-bottom -->
<section class="banner-bottom">
    <div class="container">
        <h3 class="title-wthree mb-lg-5 mb-4 text-center">Shop Now</h3>
        <!--/row-->
        <div class="row shop-wthree-info text-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 shop-info-grid text-center mt-4">
                    <div class="product-shoe-info shoe">
                        <div class="men-thumb-item">
                            <img src="~/media/products/@item.Image" class="img-fluid" alt="">
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="single.html">@item.Name </a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money"><span class="line"></span>@item.Price.ToString("C2")</span>
                                </div>
                            </div>
                            <div>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" class="btn btn-primary" data-id="@item.Id" addToCart>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--//row-->
    </div>
</section>
<!-- /banner-bottom -->





<div class="row">
   
    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <Pagination page-count="@ViewBag.TotalPages" page-target="/product" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {
            $("a.addToCart").click(function (e) {
                e.preventDefault();

                let id = $(this).data("id");

                $.get('/Cart/Add/' + id, {}, function (data) {
                    $("div.smallcart").html(data);
                });
            });
        });
    </script>
}

